.rhythmsContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  /* Adds space between this container and the one above */
}

.styleSelectorContainer {
  border: 3px;
  border-color: #ddd;
  border-width: 3px;
  width: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: #ddd;
}