.tempoSliderContainer {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}

.tempoSliderContainer h3 {
    margin: 0;
    text-align: center;
}