/** client/src/components/ChordBoxList/ChordBoxList.module.css */

.chordBoxListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* ❗ PREVENT wrapping */
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 5% 7%;
  box-sizing: border-box;
  gap: 2%;
}