.patternList {
  flex: 1 1 0;                    
  display: flex;
  flex-direction: column;

  padding: 0.5rem;
  background-color: #1c1c1c;
  border-radius: var(--border-radius);
  box-sizing: border-box;

  height: 100%;                 
  overflow-y: auto;              
  scrollbar-width: thin;
}