.tonicSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.selectionTitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.buttonPair {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 767px) {
  .tonicSelectionContainer {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .buttonPair {
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
}