/** client/src/App.css */

/* Center & constrain the app */
.app {

  padding: var(--padding);
  user-select: none;
}

/* Heading */
h1 {
  text-align: center;
}

@media (min-width: 768px) {
  .mainContent {
    display: flex;
    height: 100%;
  }

  .leftPanel {
    flex: .8;
    min-width: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2%;
  }

  .middleContent {
    flex: 1.4; 
    min-width: 0;
  }

  .rightPanel {
    flex: .8;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2%;
  }

  .leftPanel > * {
    flex: 1;
    height: 100%;
    min-width: 0;
  }
}

@media (max-width: 767px) {

  .openButton {
    flex: 1 1 0;
    min-width: 0;
    max-width: 100px;
    padding: 0.5rem;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .app h1 {
    font-size: 1.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: 1rem;
  }

  .leftPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 2%;
  }

  .leftPanel>* {
    flex: 1 1 0;
    min-width: 0;
  }

  .rightPanel {
    margin-top: 50px
  }
}