.styleSelectorContainer {
  border: 2px solid #ddd;
    background-color: #2a2a2a; /* Darker background to distinguish */
  border: 1px solid #3a3a3a; /* Thin border for visual separation */
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.rhythmsContainer {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
  flex: 1;
  overflow: hidden; 
}