/* src/components/PlayerControls/LoadButton/LoadButton.module.css */
.loadButton {
  padding: 0.6em 1.2em;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

.loadButton:hover {
  background-color: #005ac1;
}

.loadWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
}

.dropdown {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #555;
}

