.playerControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

@media (max-width: 767px) { 
.playerControls {
    margin-top: 20px;
}

}