.playButton {
  width: 30px;
  height: 30px;
  color: darkgreen;
}

.stopButton {
  width: 30px;
  height: 30px;
  color: darkred;
}

.playStopButton {
  width: 50px;
  height: 100px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  align-self: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem; 
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.playStopButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}

.playStopButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}